* :not(body){
    margin: 5px;
    padding: 5px;
}
body{
    margin: 0;
    padding: 0;
}

.main ul{
    margin:auto;
    display:flex;
    float:right;
    list-style: none;
}
body{
    background-color: #d9dbda;
}
ul li a{
    text-decoration: none;
    color: black;
    border:1px solid transparent;
    border-radius: 10px;
    transition:0.6s ease;
    padding: 5px 15px;
}
.main .active a{
    background-color: rgba(255, 255, 255, 0.40);
    color: white;
}
ul li a:hover{
    color:white;
    box-shadow: rgba(240, 237, 197, 0.3) 3px 3px 3px 1px;
}
.tittle{
    position: absolute;
    font-size: 25px;
    font-weight: bolder;
    left: 40%;
    color: whitesmoke;
    font-family:Copperplate, Papyrus, fantasy;
}
.box{
    background-image:linear-gradient(rgba(34, 18, 36, 0.726),rgba(139, 209, 226, 0.582)),url(https://wallpaperaccess.com/full/1412206.jpg);
    background-size: cover;
    background-position: center;
    
    padding: 10px;
    height: 40vh;

}
.logo{
    position:absolute;
    margin: 5px;
    padding: 5px;
    width: 200px;
    box-shadow: azure;
}
.box .text{
    text-align: center;
    color: rgba(10, 10, 10, 0.842);
    text-decoration: underline;
    margin-top: 13%;
    font-family:CF Old School PERSONAL USE;
    font-size:25px;
}
.box .text:hover{
    color: whitesmoke;
    text-decoration: underline;
    transition: 0.5s;
   text-shadow: 1px 1px 2px black, 0 0 25px rgba(20, 140, 238, 0.719), 0 0 5px rgb(175, 236, 8);
}
.contact:hover{
    transition: 0.3s;
    box-shadow:grey 3px 3px 2px 3px;
}
.contact{
    border: 2px solid gray;
    border-radius:10px;
    background-color: white;
    font-family: Comic Sans MS;
    width: 40%;
    margin-right: 35px;
}
.contact .p{
    text-align:justify;
    opacity: 50%;
}
.btn:hover{
    padding:20px;
    color: rgb(246, 248, 248);
    transition: 0.5s;
    transform: rotate(360deg);
}
.btn{
    float: right;
    font-weight: bold;
    border-radius: 5px;
    background-image: linear-gradient(rgba(252, 159, 21, 0.973),rgba(249, 253, 249, 0.842));
    background-color: black;
    box-shadow:1px 1px 1px inset rgb(12, 3, 133), 0 0 25px rgba(240, 151, 220, 0.664), 0 0 5px rgb(252, 246, 251);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    border: 1px solid rgb(225, 222, 250);
}
.contact-us{
    display: flex;
    margin-left: 15%;
    margin-right: 3%;
}
.information p{
    width: 100%;
    font-size: 24px;
    font-family: CF Oak Island PERSONEL;
}
.information p:hover{
    color: rgb(7, 196, 253);
    transition: 0.5s;
}
.information p a:hover{
    color: rgb(0, 68, 255);
    transition: 0.5s;
    text-shadow: 1px 1px 2px rgb(12, 3, 133), 0 0 25px rgb(112, 108, 101), 0 0 5px rgb(252, 246, 251);
}
.information{
    background-color: #fff;
    border-radius: 15px;
    font-family: Comic Sans MS;
    
}
.information:hover{
    transition: 0.3s;
    box-shadow:grey 3px 4px 2px 3px; 
}
.footer{
        text-align: center;
        height: 20vh;
        position:static;
        width: 100%;
        background-image: linear-gradient(white,yellow);
    }  
    #textfooter{
        margin-top:35px ;
        font-size: 20px;
        text-shadow:1px 1px 2px black, 0 0 25px rgb(154, 228, 34), 0 0 5px rgb(121, 54, 228);
    }
    .footer:hover{
        color: white;
        transition:0.3s ease-in-out;
    }

